/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111; /* fundo escuro para combinar com a estética da academia */
    color: #fff;
}

/* Header fixo com efeito de blur */
header {
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
                rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    z-index: 3;
    transition: box-shadow 0.3s ease;
}

/* Compensa a navbar fixa ao usar âncoras */
section {
    scroll-margin-top: 120px;
    padding-top: 20px;
}

/* Container da navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Logo */
#nav_logo {
    font-size: 2rem;
    color: rgb(0, 53, 145);
    font-weight: bold;
    
}

/* Lista de navegação */
#nav_list {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    transition: all 0.3s ease;
}

.nav-item.active {
    background-color: #ffffff10;
    color: #00bcd4;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.nav-item.active a {
    color: #ffffff;
}

#nav_list .nav-item.active a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
}

/* Underline deslizante */
#nav-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    transition: left .25s ease, width .25s ease, opacity .2s ease;
    opacity: 1;
    z-index: 2;
    pointer-events: none;
}

/* Botões de login/cadastro */
.nav-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.nav-buttons a {
    text-decoration: none;
}

/* Estilo dos botões */
.btn-default {
    padding: 8px 16px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 2px;
}

.btn-default:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
