Container principal do menu
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding:  16px;
    width: 100vh;
}

/* Seção de planos */
.planos {
    border-radius: 12px;
    width: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;
    position: relative;
}
#planos .section-subtitle{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
}

#planos h3 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
  
}
/* Fundo decorativo */
#planos::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url('img/fundo-athletech.png') no-repeat center center;
    background-size: cover;
    opacity: 0.15;
    z-index: 0;
}

/* Garante que o conteúdo fique acima do fundo */
#planos * {
    position: relative;
    z-index: 1;
}

/* Container dos cards */
#dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    max-width: 1500px;
    margin: 32px auto;
    padding: 0 0px;
    width: 100%; 
}

.dish {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    position: relative;
    overflow: visible;
    flex: 1 1 300px;
    max-width: 300px;
}

.dish-description {
    color: #ffffff;
    text-align: center;
    display: flex;
}

.dish-title {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.dish-price {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dish-price button {
    text-decoration: none;
    color: #ffffff;
}

.dish-price button a {
    text-decoration: none;
    color: #ffffff;
}
.dish-image{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }